# SPDX-License-Identifier: GPL-2.0-only
# Used by common drivers, when they need to ask questions
source "drivers/media/common/b2c2/Kconfig"
source "drivers/media/common/siano/Kconfig"
source "drivers/media/common/v4l2-tpg/Kconfig"
source "drivers/media/common/videobuf2/Kconfig"
